body {

}

header {

}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background: black;
}
.logo-Home{
    height: 100px;
    width: 100px;
}

